#condfiguracion de SQL Server

DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
PORT=

JWT_SECRET=
JWT_EXPIRES_IN=

# GitHub Releases (Actualizaciones automáticas)
GITHUB_TOKEN=
GITHUB_REPO_OWNER=NovaTechdDes
GITHUB_REPO_NAME=PCStore